.confirmation {
  padding: 3.2rem;
  background-color: $color-soft-white;
  border-radius: 0.8rem;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: min(32.7rem, 80%);
  height: auto;
  max-width: 54rem;

  @extend %flexbox;
  align-items: flex-start;
  gap: 2.4rem;

  &__title {
    @include typography(2.4rem, 700, calc(2.8 / 2.4), 0.086rem);
    margin-block-end: -0.8rem;
  }

  &__subtitle {
    @include typography(1.5rem, 500, calc(2.5 / 1.5));
    color: rgba(#000, 0.5);
    text-transform: none;
  }

  &__btn {
    width: 100%;
    text-align: center;
    padding-block: 1.6rem;
  }
}

@include respond-to($breakpoint-tablets) {
  .confirmation {
    padding: 4.8rem;
    width: 100%;
    gap: 3.2rem;

    &__title {
      font-size: 3.2rem;
      line-height: calc(3.6 / 3.2);
      letter-spacing: 0.114rem;
    }
  }
}
