.hero {
  @extend %grid;
  text-align: center;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba($color: $color-white, $alpha: 0.104);
    width: 100%;
    height: 0.1rem;
    display: inline-block;
  }

  &__content {
    position: absolute;
    padding-inline: 2.4rem;
  }

  &__subtitle {
    @extend %overline;
    line-height: 1;
    color: rgba($color: $color-white, $alpha: 0.5);
    margin-block-end: 1.6rem;
  }

  &__title {
    @include typography(3.6rem, 700, calc(4 / 3.6), 0.129rem);
    color: $color-white;
    margin-block-end: 2.4rem;
    text-wrap: auto;
  }

  &__description {
    @extend %body;
    color: rgba($color: $color-white, $alpha: 0.75);
    margin-block-end: 2.8rem;
  }

  &__link {
    padding-block: 1.6rem;
  }
}

@include respond-to($breakpoint-tablets) {
  .hero {
    &__content {
      padding-inline: 0;
      max-width: 38rem;
    }

    &__subtitle {
      margin-block-end: 2.4rem;
    }

    &__title {
      font-size: 5.6rem;
      line-height: calc(5.8 / 5.6);
      letter-spacing: 0.2rem;
    }

    &__description {
      margin-block-end: 4rem;
      max-width: 35rem;
      text-wrap: auto;
    }
  }
}

@include respond-to($breakpoint-desktops) {
  .hero {
    grid-template-columns: repeat(2, 1fr);

    &__image {
      grid-column: 1 / -1;
    }

    &__content {
      text-align: left;
      grid-column: 1 / 2;
    }

    &__link {
      text-align: center;
    }
  }
}
