.menu {
  position: absolute;
  top: 9.1rem;
  left: 0;
  right: 0;
  transition: transform 0.4s ease-in-out;
  transform: translateY(-100rem);
  background-color: $color-white;
  z-index: 2;

  section {
    margin: 0;
    padding: 8.4rem 2.4rem 3.5rem;
  }
}

.menu.open {
  transform: translateY(0);
}
