.menu {
  position: absolute;
  top: 9.1rem;
  left: 0;
  right: 0;
  transition: transform 0.4s ease-in-out;
  transform: translateY(-100rem);
  background-color: $color-white;
  z-index: 11;

  section {
    margin: 0;
    padding: 8.4rem 2.4rem 3.5rem;
  }

  &.open {
    transform: translateY(0);
  }
}

@include respond-to($breakpoint-tablets) {
  .menu {
    section {
      padding: 10.8rem 4rem 6.7rem;
    }
  }
}
