.recommendations {
  @extend %grid;
  grid-template-columns: repeat(auto-fit, minmax(min(32.7rem, 100%), 1fr));
  row-gap: 5.6rem;
  column-gap: 1.1rem;
  margin: 12rem 2.4rem;

  &__heading {
    @include typography(2.4rem, 700, calc(3.6 / 2.4), 0.086rem);
    margin-bottom: -1.6rem;
    grid-column: 1 / -1;
  }

  .recommendation {
    @extend %flexbox;
    max-width: 35rem;

    &__image img {
      border-radius: 0.8rem;
    }

    &__title {
      @include typography(2.4rem, 700, $spacing: 0.171rem);
      margin: 3.2rem 0;
    }

    &__link {
      text-align: center;
      padding-block: 1.6rem;
    }
  }
}

@include respond-to($breakpoint-tablets) {
  .recommendations {
    grid-template-columns: repeat(3, minmax(22.3rem, 1fr));
    margin-inline: 4rem;

    &__heading {
      margin-bottom: 0;
      font-size: 3.2rem;
      line-height: calc(3.6 / 3.2);
      letter-spacing: 0.114rem;
    }

    .recommendation {
      &__title {
        margin-block-start: 4rem;
        margin-block-end: 3.2rem;
      }
    }
  }
}

@include respond-to($breakpoint-desktops) {
  .recommendations {
    margin-inline: auto;
    row-gap: 6.4rem;
    column-gap: 3rem;

    .recommendation {
      transition: all 0.3s ease;

      &:hover {
        cursor: pointer;
        transform: scale(1.05);
      }
    }
  }
}
