$breakpoint-tablets: "(min-width: 48em)";
$breakpoint-large-tablets: "(min-width: 64em)";
$breakpoint-desktops: "(min-width: 75em)";

$color-burnt-orange: #d87d4a;
$color-almost-black: #101010;
$color-light-gray: #f1f1f1;
$color-soft-white: #fafafa;
$color-peachy-orange: #fbaf85;
$color-white: #fff;
$color-black: #000;
