.detail {
  &__header {
    @extend %grid;
    justify-items: start;
    row-gap: 3.2rem;
    margin: 2.4rem 2.4rem 8.8rem;
  }

  &__image,
  img {
    max-width: none;
    width: 100%;
    border-radius: 0.8rem;
  }

  &__info {
    @extend %flexbox;
    align-items: flex-start;
    gap: 2.4rem;
  }

  &--new {
    @include typography(1.4rem, 400, $spacing: 1rem);
    color: $color-burnt-orange;
  }

  &__name {
    @include typography(2.8rem, 700, $spacing: 0.1rem);
  }

  &__description {
    @extend %body;
    color: rgba($color: #000000, $alpha: 0.5);
  }

  &__price {
    @include typography(1.8rem, 700, $spacing: 0.129rem);
    margin-block-end: 0.8rem;
  }

  &__cart {
    display: inline-flex;
    flex-flow: row wrap;
    gap: 1.6rem;
  }

  &__back-btn {
    @extend %body;
    color: rgba($color: #000000, $alpha: 0.5);
    margin-block-start: 1.6rem;
  }

  .features-and-included {
    @extend %grid;
    justify-items: stretch;
    margin-inline: 2.4rem;
    row-gap: 8.8rem;
    margin-block: 8.8rem;
  }

  .features {
    &__title {
      @include typography(2.4rem, 700, calc(3.6 / 2.4), 0.086rem);
      margin-block-end: 2.4rem;
    }

    &__text {
      @extend %body;
      color: rgba($color: #000, $alpha: 0.5);

      &:first-of-type {
        margin-block-end: 3.2rem;
      }
    }
  }

  .included {
    @extend %grid;
    row-gap: 2.4rem;
    justify-items: start;

    &__title {
      @include typography(2.4rem, 700, calc(3.6 / 2.4), 0.086rem);
    }

    &__list {
      @extend %flexbox;
      align-items: flex-start;
      gap: 0.8rem;

      &--item {
        @extend %body;
        font-weight: 500;
        color: rgba($color: #000000, $alpha: 0.5);

        span {
          color: $color-burnt-orange;
          font-weight: 700;
          margin-inline-end: 2.4rem;
        }
      }
    }
  }
}

@include respond-to($breakpoint-tablets) {
  .detail {
    &__header {
      grid-template-columns: minmax(0, auto) 1fr;
      margin: 3.2rem 4rem 12rem;
      column-gap: 6.9rem;
      row-gap: 0;
    }

    &__info {
      gap: 3.2rem;
    }

    &__back-btn {
      grid-column: 1 / -1;
      margin: 0 0 2.4rem;
    }

    .features-and-included {
      row-gap: 12rem;
      margin-inline: 4rem;
      margin-block: 12rem;
    }

    .features,
    .included {
      &__title {
        font-size: 3.2rem;
        line-height: calc(3.6 / 3.2);
        letter-spacing: 0.114rem;
      }
    }

    .included {
      grid-template-columns: repeat(2, 1fr);
      align-items: start;
      row-gap: 0;
    }
  }
}

@include respond-to($breakpoint-large-tablets) {
  .detail {
    .features-and-included {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 9.6rem;
      align-items: start;
    }

    .features {
      &__title {
        margin-block-end: 3.2rem;
      }
    }

    .included {
      grid-template-columns: 1fr;
      row-gap: 3.2rem;
      justify-self: center;
    }
  }
}

@include respond-to($breakpoint-desktops) {
  .detail {
    &__header {
      margin: 8rem auto 16rem;
      column-gap: 12.5rem;
    }

    &__back-btn {
      margin-block-end: 5.6rem;
    }

    &__name {
      font-size: 4rem;
      line-height: calc(4.4 / 4);
      letter-spacing: 0.143rem;
    }

    &__price {
      margin-block-end: 1.5rem;
    }

    .features-and-included {
      grid-template-columns: 2fr 1fr;
      margin-inline: auto;
      column-gap: 12.5rem;
    }
  }
}
