.checkout {
  padding: 1.6rem 2.4rem 9.7rem;
  background-color: $color-soft-white;
  @extend %flexbox;
  align-items: stretch;
  gap: 2.4rem;

  &__container {
    @extend %grid;
    justify-items: start;
    row-gap: 3.2rem;
  }

  &__form {
    padding: 2.4rem 2.4rem 3.2rem;
    background-color: $color-white;
    width: 100%;
    border-radius: 0.8rem;
  }

  &__summary {
  }

  &__title {
    @include typography(2.8rem, 700, $spacing: 0.1rem);
    color: $color-black;
    margin-bottom: 3.2rem;
  }

  .billing {
    &__title {
      @include typography(1.3rem, 700, calc(2.5 / 1.3), 0.093rem);
      color: $color-burnt-orange;
    }
  }
}
