.checkout {
  padding: 1.6rem 2.4rem 9.7rem;
  background-color: $color-soft-white;
  @extend %flexbox;
  align-items: stretch;
  gap: 2.4rem;

  &__container {
    @extend %grid;
    justify-items: start;
    row-gap: 3.2rem;
  }

  &__form,
  &__summary {
    padding: 2.4rem 2.4rem 3.2rem;
    width: 100%;
    border-radius: 0.8rem;
    background-color: $color-white;
  }

  &__summary {
    @extend %flexbox;
    align-items: stretch;
    gap: 3.2rem;
  }

  &__title {
    @include typography(2.8rem, 700, $spacing: 0.1rem);
    color: $color-black;
    margin-bottom: 3.2rem;
  }

  &__subtitle {
    @include typography(1.8rem, 700, $spacing: 0.129rem);
  }

  .form {
    @extend %flexbox;
    justify-content: flex-start;
    align-items: stretch;
    margin-block-end: 3.2rem;
    gap: 2.4rem;

    &__title {
      @include typography(1.3rem, 700, calc(2.5 / 1.3), 0.093rem);
      color: $color-burnt-orange;
      margin-block-end: -0.8rem;
    }
  }

  .summary {
    &__items {
      @extend %flexbox;
      align-items: stretch;
      gap: 2.4rem;

      & > div {
        @extend %grid;
        justify-items: start;
        grid-template-columns: auto 1fr auto;
        grid-template-rows: repeat(2, auto);
        column-gap: 1.6rem;
      }

      .items {
        &__img {
          width: 6.4rem;
          height: 6.4rem;
          border-radius: 0.8rem;
        }

        &__name {
          @include typography(1.5rem, 700, calc(2.5 / 1.5));
          grid-column: 2;
          grid-row: 1;
        }

        &__price {
          @include typography(1.4rem, 700, calc(2.5 / 1.4));
          color: rgba(#000, 0.5);
          grid-column: 2;
          grid-row: 2;
        }

        &__count {
          @include typography(1.5rem, 700, calc(2.5 / 1.5));
          color: rgba(#000, 0.5);
        }

        &__count,
        &__img {
          grid-row: 1 / 3;
        }
      }
    }

    &__total {
      @extend %flexbox;
      gap: 0.8rem;
      align-items: stretch;

      & > div {
        @extend %flexbox;
        justify-content: space-between;
        flex-flow: row nowrap;
      }

      & > div:last-of-type {
        margin-block-start: 1.6rem;

        & > p:last-of-type {
          color: $color-burnt-orange;
        }
      }
    }

    &__title {
      @include typography(1.5rem, 500, calc(2.5 / 1.5));
      color: rgba(#000, 0.5);
    }

    &__amount {
      @include typography(1.8rem, 700);
    }

    &__btn {
      width: 100%;
    }
  }
}

@include respond-to($breakpoint-tablets) {
  .checkout {
    padding: 4.8rem 4rem 11.6rem;

    &__form,
    &__summary {
      padding: 3.2rem;
    }

    &__title {
      font-size: 3.2rem;
      line-height: calc(3.6 / 3.2);
      letter-spacing: 0.114rem;
      margin-bottom: 4.1rem;
    }

    .form {
      &__billing {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-block-end: 5.2rem;

        & > div:first-of-type {
          grid-column: 1 / 2;
        }
      }

      &__shipping {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-block-end: 5.2rem;

        & > div:first-of-type {
          grid-column: 1 / -1;
        }
      }

      &__payment {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        & > div {
          grid-column: 2;
        }

        & > h3 {
          grid-column: 1 / 2;
        }
      }

      &__numbers {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 0;
      }
    }
  }
}

@include respond-to($breakpoint-desktops) {
  .checkout {
    padding: 8rem 0 14rem;

    &__container {
      grid-template-columns: 2fr 1fr;
      align-items: start;
      column-gap: 3rem;
    }

    &__form {
      padding: 5.4rem 4.8rem 4.8rem;
    }
  }
}
