.icon {
  &__arrow {
    width: 0.5rem;
    height: 1rem;
    stroke: $color-burnt-orange;
    fill: transparent;
  }

  &__logo {
    width: 14.3rem;
    height: 2.5rem;
    fill: $color-white;
  }

  &__cart {
    width: 2.4rem;
    height: 2rem;
    fill: $color-white;
  }

  &__hamburger {
    width: 1.6rem;
    height: 1.5rem;
    fill: $color-white;
  }

  &__social-media {
    width: 2.4rem;
    height: 2.4rem;
    fill: $color-white;

    &:hover {
      cursor: pointer;
      fill: $color-burnt-orange;
    }
  }
}
